body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  padding: 20px;
}

.center-form {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 25px;
}

input, button {
  padding: 8px;
}

button {
  cursor: pointer;
}

table {
  width: 70%;
  margin: auto;
  border-collapse: collapse;
  background: white;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}
